
    h1 {
        font-family: "Sansita", sans-serif;
        }
        p, li {
        color: rgb(203, 42, 42);
        font-family: "Kameron", serif;
        }
        
        html {
            background-color: #4ca7c1;
            }
            body {
            background-color: #F5FFE6;
            border: 3px solid #93a36c;
            max-width: 600px;
            margin: 0 auto;
            padding: 30px;
            }
            
        .screenshot-css {
            border: 3px solid #93a36c;
            margin: 20px 0;
            padding: 10px;
            }

